.relativo {  
  position: relative;  
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.azul {        
    background-color: var(--black-color);    
    display: flex;
    font-family: var(--font-title-anisette);
    font-weight: 700;
    font-style: normal;
    justify-content: flex-start;    
    border-bottom: 1px solid black;
    overflow: hidden;    
    width: 100vw;     
  }

  .azul h1 {
    color: red;   
    color: var(--gray-color);         
    font-size: 65vw;    
  }

  h1 {
    animation: move-rtl 20000ms linear infinite;    
    letter-spacing: 10px;
    text-transform: uppercase;   
    /* animation-play-state: paused;  */
    /* background-color: green; */
    
  }

  .container {    
    position:absolute; 
    left: 25vw;     
    /* background-color: red; */
    
    
    
  }


  

  @keyframes move-rtl {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%)
    }
  }

  .azul p {
    left: 100px;
  }

  


.carrossel {    
    display: flex;  
    /* width: 50vw; */         
}

.carrossel img {
  width: 50vw;
}


.mySlides {
    display:none;    
}

.w3-animate-left {
  animation:animateright 0.4s;
  position:relative;
  /* animation-play-state: paused; */
}

@keyframes animateright {
    from {
        right:-300px;opacity:0
    } 
    to {
        right:0;opacity:1
    }
}

.container-buttons {   
  /* background-color: green;  */
    bottom: -100px;
    display: flex;
    justify-content: space-between;        
    position: absolute;    
    right: -280px;
    width: 130px;
}

/* @media screen and (max-width:430px) {
  .container {    
    background-color: aqua;
  }

  .azul {
    
    background-color: green;
  }


} */

@media screen and (max-width: 430px){
  .carrossel img {
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
  }

  .container {        
    left: 17vw; 
  }

  
}