{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static '/styles/css/reset.css' %}">    
    <link rel="stylesheet" href="{% static '/styles/css/header.css' %}">        
    <link rel="stylesheet" href="{% static '/styles/css/header-about.css' %}">    
    <link rel="stylesheet" href="{% static '/styles/css/article-visual-detalhes.css' %}">
    <link rel="stylesheet" href="{% static '/styles/css/styles.css' %}">                
    <link rel="stylesheet" href="{% static '/styles/css/footer.css' %}">    
    <link rel="stylesheet" href="{% static '/styles/css/footer-about.css' %}">       
    <link rel="stylesheet" href="{% static '/styles/css/dropdown-button.css' %}">        
    <link rel="stylesheet" href="https://use.typekit.net/qpj2ebe.css">        

    <title>Visual/Detalhes</title>
</head>
<body class="about-body">
    <main>
        <header class="header" id="mynav">

            <nav class="header__navbar" style="z-index: 99;">                
                
                <a href="{% url 'index' %}"><img src="{% static 'assets/img/small-logo.png' %}" class="header__navbar-image" alt="xxx" id="loguinho"></a>
                <div class="header__navbar-content" id="navbarContent">
                    
                    <div class="header__navbar-content__links" id="teste">                        
                        <div class="dropdown">
                            <button class="dropbtn">SOBRE</button>
                            <div class="dropdown-content">
                                <a href="{% url 'pericreativity' %}">PERICREATIVITY</a>
                                <a href="{% url 'equipa' %}">EQUIPA</a>                                
                                <a href="{% url 'galeria' %}">GALERIA DO PROJETO</a>
                            </div>
                        </div>                        
                        <a href="{% url 'visual' %}">VISUAL</a>
                        <!-- <a href="textos.html">TEXTOS</a> -->
                        <div class="dropdown">
                            <button class="dropbtn">TEXTOS</button>
                            <div class="dropdown-content">
                                <a href="{% url 'publicacoes' %}">PUBLICAÇÕES</a>
                                <a href="{% url 'notas' %}">NOTAS ETNOGRÁFICAS</a>
                            </div>
                        </div>
                        <a href="{% url 'agenda' %}">AGENDA</a>
                        <a href="{% url 'fazparte' %}" id="faz-parte">FAZ PARTE!</a>
                    </div>
                    <div  class="header__navbar-content__translate" id="translate">                        
                        <button id="portuguese" class="enable">PT</button>                     
                        <span>|</span>
                        <button id="english">EN</button>
                    </div>
                </div>
            </nav>
            
            <div class="header__navbar__principal">
                <!-- <img src="blog/img/Logo_Horizontal_PretoFosco.png" id="main-image" class="header__navbar__principal-image" alt="trademark">                         -->
                <div class="header__icon-hamburger" id="hamburger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>    
        </header>        
    </main>    
    <section>
        <div class="azul">
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>                         
        </div>

        <div class="container">
            <!-- <h2>Carousel Example</h2>   -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
              </ol> -->
          
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="{% static '/assets/img/explorando-o-porto-capa.png' %}" alt="Los Angeles" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% static '/assets/img/porto-carrossel_1.png' %}" alt="Chicago" style="width:100%;">
                  </div>
          
                <div class="item">
                  <img src="{% static '/assets/img/porto-carrossel_2.png' %}" alt="Chicago" style="width:100%;">
                </div>
              
                <div class="item">
                    <img src="{% static '/assets/img/porto-carrossel_3.png' %}" alt="Chicago" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% static '/assets/img/porto-carrossel_4.png' %}" alt="Chicago" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% static '/assets/img/porto-carrossel_5.png' %}" alt="Chicago" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% static '/assets/img/porto-carrossel_6.png' %}" alt="Chicago" style="width:100%;">
                  </div>

              </div>
          
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
          

        <article>
            <!-- <img src="{% static '/assets/img/destaque_visual.png' %}" alt="" >   -->
                <div class="card-details">
                    <p>EXPLORAR O PORTO PERIFÉRICO</p>
                    <p>Texto: PERICREATIVITY. Fotos: Beatriz Lacerda</p>
                
                    <p>Entre os dias 26 e 28 de outubro de 2023, a equipa do PERICREATIVITY reuniu-se no Porto para conhecer alguns dos projetos de intervenção comunitária e juvenil em bairros segregados da cidade. Ao contrário da capital, a maioria dos territórios “periféricos” portuenses estão localizados próximos do centro da cidade, embora a distância simbólica, traduzida na falta de investimento público, nos altos níveis precariedade, segregação e insucesso escolar, e no estigma associado às margens, se traduza depois em desigualdades no acesso e usufruto pleno do direito à cidade.<br><span></span></p>
                                        
                </div>                                                 
        </article>
    </section>

    <footer class="footer" id="footer" style="z-index: 1;">        
        <div class="logos_e_redes_sociais">                    
            <div class="logos_suporte">
                <img src="{% static 'assets/img/fct_preto.png' %}" width="105">
                <img src="{% static 'assets/img/iscte_preto.png' %}" alt="" width="100">
                <img src="{% static 'assets/img/cies_preto.png' %}" alt="" width="100">
                <img src="{% static 'assets/img/flup_preto.png' %}" alt="" width="100">
                <img src="{% static 'assets/img/isup_preto.png' %}" alt="" width="100">
                <img src="{% static 'assets/img/nova_preto.png' %}" alt="" width="100">
                <img src="{% static 'assets/img/cics_preto.png' %}" alt="" width="100">
                <img src="{% static 'assets/img/nova_fcsh_preto.png' %}" alt="" width="100">
                <img src="{% static 'assets/img/inet_preto.png' %}" alt="" width="100">
            </div>
            <div class="input_e_redes_sociais">
                <input type="text" placeholder="pesquisar..." style="background-image: url(assets/img/black_lupa.png);display:none">    
                <div class="redes_sociais">
                    <img src="{% static 'assets/img/instagram_logo_preto.png' %}" alt="">
                    <img src="{% static 'assets/img/facebook_logo_preto.png' %}" alt="">
                    <img src="{% static 'assets/img/x_logo_preto.png' %}" alt="">
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static '/js/header.js' %}"></script>      
</body>
</html>