{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/styles/css/header.css' %}">
    <link rel="stylesheet" href="{% static '/styles/css/header-about.css' %}">
    <link rel="stylesheet" href="{% static '/styles/css/styles.css' %}">            
    <link rel="stylesheet" href="{% static '/styles/css/footer.css' %}">
    <link rel="stylesheet" href="{% static '/styles/css/article-fazparte.css' %}">
    <link rel="stylesheet" href="{% static '/styles/css/footer.css' %}">  
    <link rel="stylesheet" href="{% static '/styles/css/dropdown-button.css' %}">  
    <link rel="stylesheet" href="{% static '/styles/css/participate.css' %}">  
    <link rel="stylesheet" href="https://use.typekit.net/qpj2ebe.css">        

    <title>Faz Parte!</title>
</head>
<body class="about-body">
    <main>
        <header class="header" id="mynav">

            <nav class="header__navbar" style="z-index: 99;">            
                
                <a href="{% url 'index' %}"><img src="{% static '/assets/img/small-logo.png' %}" class="header__navbar-image" alt="xxx" id="loguinho"></a>
                <div class="header__navbar-content" id="navbarContent">
                    
                    <div class="header__navbar-content__links" id="teste">                                                
                        <div class="dropdown">
                            <button class="dropbtn" style="color:#FECE00">SOBRE</button>
                            <div class="dropdown-content">
                                <a href="{% url 'pericreativity' %}">PERICREATIVITY</a>
                                <a href="{% url 'equipa' %}">EQUIPA</a>
                                <a href="{% url 'galeria' %}">GALERIA DO PROJETO</a>
                            </div>
                        </div>
                        <a href="{% url 'visual' %}">VISUAL</a> 

                        <div class="dropdown">
                            <button class="dropbtn" style="color:#FECE00">TEXTOS</button>
                            <div class="dropdown-content">
                                <a href="{% url 'publicacoes' %}">PUBLICAÇÕES</a>
                                <a href="{% url 'notas' %}">NOTAS ETNOGRÁFICAS</a>
                            </div>
                        </div>
                        
                        <a href="{% url 'agenda' %}">AGENDA</a>
                        <a href="{% url 'fazparte' %}" id="faz-parte">FAZ PARTE!</a>
                    </div> 
                    <div  class="header__navbar-content__translate" id="translate">                        
                        <button id="portuguese" class="enable">PT</button>                     
                        <span>|</span>
                        <button id="english">EN</button>
                    </div>
                </div>
            </nav>
            
            <div class="header__navbar__principal">
                <!-- <img src="blog/img/Logo_Horizontal_PretoFosco.png" id="main-image" class="header__navbar__principal-image" alt="trademark">                         -->
                <div class="header__icon-hamburger" id="hamburger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>    
        </header>

    </main>  
      
    <section>
        <div class="azul">
            <h1>&nbsp;FAZPARTE!&nbsp;</h1>
            <h1>&nbsp;FAZPARTE!&nbsp;</h1>            
            <h1>&nbsp;FAZPARTE!&nbsp;</h1>                        
            <h1>&nbsp;FAZPARTE!&nbsp;</h1>
            <h1>&nbsp;FAZPARTE!&nbsp;</h1>
            <h1>&nbsp;FAZPARTE!&nbsp;</h1>
            
            
            </div>
        <article>                
            <div class="participate">
                <img src="{% static '/assets/img/logo_horizontal_amarelo.png' %}" alt="" width="300">
                <p>Escreve um texto ou partilha um ensaio visual sobre qualquer tema que se relacione ao PERICREATIVITY.</p>

                    <p>Sejas estudante, investigador/a, artista ou simplesmente porque resides num território periférico (e/ou segregado), nós gostaríamos que fizesses parte! Este espaço é aberto a colaborações e livre no seu formato.</p>
                    
                    <p>Para mais informações, contacta-nos com o assunto “Faz Parte”:</p>
                    <p>pericreativities@gmail.com</p>
            </div>
        </article>
    </section>

    <footer class="footer" id="footer" style="z-index: 1;">        
        <div class="logos_e_redes_sociais">                    
            <div class="logos_suporte">
                <img src="{% static 'assets/img/fct_amarelo.png' %}" width="120"> <!-- 120 -->
                <img src="{% static 'assets/img/iscte_amarelo.png' %}" alt="" width="90"> <!-- 90 -->
                <img src="{% static 'assets/img/cies_amarelo.png' %}" alt="" width="90">
                <img src="{% static 'assets/img/flup_amarelo.png' %}" alt="" width="90">
                <img src="{% static 'assets/img/isup_amarelo.png' %}" alt="" width="90">
                <img src="{% static 'assets/img/nova_amarelo.png' %}" alt="" width="90">
                <img src="{% static 'assets/img/cics_amarelo.png' %}" alt="" width="70">
                <img src="{% static 'assets/img/nova_fcsh_amarelo.png' %}" alt="" width="90">
                <img src="{% static 'assets/img/inet_amarelo.png' %}" alt="" width="90">
            </div>
            <div class="input_e_redes_sociais">
                <input type="text" placeholder="pesquisar..." style="background-image: url(blog/img/black_lupa.png); display:none">    
                <div class="redes_sociais">
                    <a href="https://www.instagram.com/_pericreativity/" target="_blank"><img src="{% static 'assets/img/instagram_logo_amarelo.png' %}" alt="" width="40"></a>
                    <a href="https://www.facebook.com/pericreativities" target="_blank"><img src="{% static 'assets/img/facebook_logo_amarelo.png' %}" alt="" width="30"></a>
                    <a href="https://x.com/pericreativity" target="_blank"><img src="{% static 'assets/img/x_logo_amarelo.png' %}" alt="" width="35"></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static '/js/header.js' %}"></script>     
</body>
</html>