{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/styles/css/header.css' %}">
    <link rel="stylesheet" href="{% static '/styles/css/header-about.css' %}">
    <link rel="stylesheet" href="{% static '/styles/css/styles.css' %}">            
    <link rel="stylesheet" href="{% static '/styles/css/footer.css' %}">
    <link rel="stylesheet" href="{% static '/styles/css/article-about.css' %}">
    <link rel="stylesheet" href="{% static '/styles/css/footer-about.css' %}">  
    <link rel="stylesheet" href="{% static '/styles/css/dropdown-button.css' %}"> 
    <link rel="stylesheet" href="https://use.typekit.net/qpj2ebe.css">  
    
    
    
    

<title>Sobre</title>
</head>
<body class="about-body">
    <main>
        <header class="header" id="mynav">

            <nav class="header__navbar" style="z-index: 99;">            
                
                <a href="{% url 'index' %}"><img src="{% static '/assets/img/small-logo.png' %}" class="header__navbar-image" alt="xxx" id="loguinho"></a>
                <div class="header__navbar-content" id="navbarContent">
                    
                    <div class="header__navbar-content__links" id="teste">                        
                        <div class="dropdown">
                            <button class="dropbtn">SOBRE</button>
                            <div class="dropdown-content">
                                <a href="{% url 'pericreativity' %}">PERICREATIVITY</a>
                                <a href="{% url 'equipa' %}">EQUIPA</a>
                                <a href="{% url 'galeria' %}">GALERIA DO PROJETO</a>
                            </div>
                        </div>
                        <a href="{% url 'visual' %}">VISUAL</a> 

                        <div class="dropdown">
                            <button class="dropbtn">TEXTOS</button>
                            <div class="dropdown-content">
                                <a href="{% url 'publicacoes' %}">PUBLICAÇÕES</a>
                                <a href="{% url 'notas' %}">NOTAS ETNOGRÁFICAS</a>
                            </div>
                        </div>
                        
                        <a href="{% url 'agenda' %}">AGENDA</a>
                        <a href="{% url 'fazparte' %}" id="faz-parte">FAZ PARTE!</a>
                    </div> 
                    <div  class="header__navbar-content__translate" id="translate">                        
                        <button id="portuguese" class="enable">PT</button>                     
                        <span>|</span>
                        <button id="english">EN</button>
                    </div>
                </div>
            </nav>
            
            <div class="header__navbar__principal">
                <!-- <img src="blog/img/Logo_Horizontal_PretoFosco.png" id="main-image" class="header__navbar__principal-image" alt="trademark">                         -->
                <div class="header__icon-hamburger" id="hamburger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>    
        </header>                                     
    </main>  
      
    <section>
        <div class="azul">
            <h1>PERICREATIVITY&nbsp;</h1>
            <h1>PERICREATIVITY&nbsp;</h1>
            <h1>PERICREATIVITY&nbsp;</h1>
            <h1>PERICREATIVITY&nbsp;</h1>
            <h1>PERICREATIVITY&nbsp;</h1>
            <h1>PERICREATIVITY&nbsp;</h1>
            <h1>PERICREATIVITY&nbsp;</h1>
            <h1>PERICREATIVITY&nbsp;</h1>
        </div>

        

        <div class="titulo">
            <h2>PERICREATIVITY.</h2>
            <p>CRIATIVIDADES PERIFÉRICAS: JUVENTUDE, ARTE E POLÍTICAS PÚBLICAS EM TERRITÓRIOS SEGREGADOS</p>
        </div>

        <article> 
                <em>/CONTEXTO</em>             
                <p>Os jovens das periferias urbanas portuguesas têm sido frequentemente representados pelos media e pelas instituições políticas através de imagens de incivilidade, apatia e violência, com especial enfoque sobre as juventudes racializadas. Apesar das consequências negativas destas representações, têm surgido novas agendas culturais juvenis que visam subverter estereótipos e afirmar identidades positivas. O poder dessas práticas criativas não é ignorado pelo Estado, que o mobiliza através de políticas públicas, como o “Programa Escolhas”.</p>
                <em>/OBJETIVOS</em>    
                <p>PERICREATIVITY propõe-se a estudar os modos de produção criativa e artística destes jovens, em articulação com a análise das políticas públicas que visam estimular o desenvolvimento local, a participação-cidadã e a inclusão social.</p>                                                     
                <em>/METODOLOGIA</em>
                <p>PERICREATIVITY adota uma abordagem etnográfica multissituada em bairros segregados de Lisboa e Porto, com recurso a metodologias visuais e participativas. Em complemento, serão desenvolvidos workshops de co-criação comunitária para a produção de um trabalho coletivo e auto-reflexivo que possibilite aos participantes contribuírem ativamente para os resultados finais.</p>
                <em>/OUTPUTS</em>
                <p>PERICREATIVITY dará um importante contributo às políticas de juventude em Portugal e no mundo, trazendo impactos positivos para uma nova geração de políticas interseccionais, participativas e orientadas para o fortalecimento da emancipação social juvenil.<br></p>
                <div class="website">
                    <hr>
                    <em>/WEBSITE: FICHA TÉCNICA</em>
                    <p>Identidade visual e design:</p>
                    <p>Gabriela Leal</p>
                    <p>Front-end e back-end:</p>
                    <p>Joelson Cabral</p>
                    <p>Produção de conteúdo:</p>
                    <p>Otávio Raposo, Lígia Ferro, Pedro Varela,</p>
                    <p>Beatriz Lacerda, Mateus Sadock<span></span></p>
                </div>
        </article>
    </section>

    <footer class="footer" id="footer" style="z-index: 1;">        
        <div class="logos_e_redes_sociais">                    
            <div class="logos_suporte">
                <img src="{% static '/assets/img/fct_preto.png' %}" width="105">
                <img src="{% static '/assets/img/iscte_preto.png' %}" alt="" width="80">
                <img src="{% static '/assets/img/cies_preto.png' %}" alt="" width="125">
                <img src="{% static '/assets/img/flup_preto.png' %}" alt="" width="95">
                <img src="{% static '/assets/img/isup_preto.png' %}" alt="" width="90">
                <img src="{% static '/assets/img/nova_preto.png' %}" alt="" width="90">
                <img src="{% static '/assets/img/cics_preto.png' %}" alt="" width="90">
                <img src="{% static '/assets/img/nova_fcsh_preto.png' %}" alt="" width="100">
                <img src="{% static '/assets/img/inet_preto.png' %}" alt="" width="100">
            </div>
            <div class="input_e_redes_sociais">
                <input type="text" placeholder="pesquisar..." style="background-image: url(assets/img/black_lupa.png); display:none">    
                <div class="redes_sociais">
                    <img src="{% static '/assets/img/instagram_logo_preto.png' %}" alt="">
                    <img src="{% static '/assets/img/facebook_logo_preto.png' %}" alt="" >
                    <img src="{% static '/assets/img/x_logo_preto.png' %}" alt="">
                </div>
            </div>
        </div>
    </footer>
    <!-- <script src="blog/js/script.js"></script> -->
    <!-- <script src="blog/js/burger.js"></script> -->
    <script src="{% static '/js/header.js' %}"></script>  
    <!-- <script>
        let text = "EN!";
        let result = text.link("en/sobre.html");
        document.getElementById("english").innerHTML = result;
    </script>   -->
</body>
</html>